.products{
  text-align: center;
}

.products-link1{
  display: flex;
  padding: 0 10px;
  margin: auto 20px;
}

.products-link1 li{
    text-decoration: none;
    list-style-type: none;
    margin: auto 20px;
}