.card {
  display: flex;
  flex-wrap: wrap;
  border: none !important;
}

.card-title {
  text-transform: capitalize;
  text-align: center;
  font-size: 20px;
}

.card-img {
  width: 50%;
  display: block;
  margin: auto;
  height: 50%;
}

.card-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #ccc;
  width: 20%;
  box-shadow: white;
  margin: 2rem;
}

@media screen and (max-width: 500px) {
  .card-body {
    width: 60%;
    display: block;
    margin: 20px auto;
  }
}
